@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* Your customizations here */

$theme-colors: (
  primary: #015958,
  secondary: #01595840,
  warning: yellow
);

@import "bootstrap";
