@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* Your customizations here */

//Cores
$primary: #015958;
$secondary: #01595840;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  warning: yellow,
  tertiary: #6c757d,
  danger: $danger
);

// Configuracao para Paginacao
//Cor da paginacao estiver em foco
$pagination-focus-color: $primary;
$pagination-focus-bg: transparent;
$pagination-focus-box-shadow: none;

//Cor para active
$pagination-active-color: #fff;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;

//Cor dos itens da paginacao
$pagination-color: $primary;

//Hover dos itens da paginacao
$pagination-hover-color: $primary;
$pagination-hover-bg: $secondary;

//Configuracao para dropdown
//Active
$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #fff;

//Item hover
$dropdown-link-hover-bg: $secondary;
$dropdown-link-hover-color: $primary;
//Item ativo
$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: $primary;

$viewport-height: 100vh;

.layoutApp {
  height: calc(#{$viewport-height} -  #{$font-size-base * $line-height-base + $nav-link-padding-y * 4});
}


@import "bootstrap";
